$primary-light: #2b3643;
$primary: #030a16;
$primary-dark: #000000;

$bronze-light: #e6994c;
$bronze: #e07f1f;
$bronze-dark: #b36619;

$blue-light: #85d1d7;
$blue: #53a0a6;
$blue-dark: #1c7177;

$label-p: #000000;
$label-s: #1e1e1e;
$label-t: #3c3c3c;
$label-q: #5a5a5a;

$label-hidden-p: #787c7e;
$label-hidden-s: #969a9c;
$label-hidden-t: #b4b8ba;
$label-hidden-q: #d2d6d8;
